body {
  margin: 0px;
}

header {
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgb(244, 79, 79);
}

main {
  margin: 10px;
}

#parent {
  display: flex;
  justify-content: space-around;
}

.contents {
  border: 3px solid rgb(238, 204, 204);
  padding: 10px 15px;
  margin: 20px 0px;
  flex-basis: 25%;
  text-align: center;
}

h1 {
  margin: 0px;
  color: rgb(255, 255, 255);
}

h2{
  text-align: center;
  justify-content:center;
  font-size: 25px;
  border-bottom: 4px dotted rgb(236, 122, 122);
  }

  h2::before {
    content: "●";
    color: rgb(239, 111, 139);
  }

p {
  font-size: 20px;
  margin: 0px;
  justify-content: center;
  text-align: center;
}

p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

img {
  margin: 10px 0px;
  width: 70%;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
  justify-content: center;
}

a {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

/* レスポンシブ対応(画面幅768px) */
@media screen and (max-width: 768px) {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 25px;
    }

    #parent {
      flex-direction: column;
    }
}
